html {
  background-color: #222;
}

.heading {
  text-align: center;
  color: #EA6;
}

.button {
  background-color:black;
  margin:auto;
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}

.button:hover {
  color: #D65;
  background-color: gray;
  cursor: pointer;
}